$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

@import './nprogress';
@import './bulma';
@import './notifications';
@import './github-markdown';
@import './github-gist';
@import './markdown';
@import './diff2html';

.line-height-32 {
  line-height: 32px;
}
.top-spacer {
  margin-top: 20px;
}

.fa-13 {
  font-size: 13px;
  padding-top: 8px;
}

.fa-12 {
  margin-left: 3px;
  font-size: 13px;
  padding-top: 4px;
}
.fa-red {
  color: #e7703d;
}

.clickable {
  cursor: pointer;
}

.note-header {
  color: #333;
  padding: 5px 10px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
}
.subnote-header {
  background-color: #f2f8fa;
}

.input-contrast {
  background-color: #fafafa;
}
.pointer-cursor:hover {
  cursor: pointer;
}
.full-width {
  width: 100%;
}

.addon-label {
  line-height: 30px;
  padding-right: 5px;
}

.image-button {
  border: 0;
  background-color: inherit;
  padding-right: 0px !important;
  margin-right: -3px;
}

.control-height {
  line-height: 32px;
}

.position-relative {
  position: relative !important;
}
