.markdown-body {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;

  ul, ol {
    padding-left: 2em;
    list-style: inherit;
  }
  ul ul, ol ul {
    list-style-type: circle;
  }
  ol ol ul, ol ul ul, ul ol ul, ul ul ul {
    list-style-type: square;
  }
  ol ul, ul ol, ul ul, ol ol {
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
  }
  code {
    color: #333;
  }
  *:last-child {
    margin-bottom: 0 !important;
  }
  .hljs-built_in {
    color: #795da3;
  }
  .hljs-number {
    color: #0086b3;
  }
  .hljs-title {
    color: #63a35c;
  }
  .hljs-attribute {
    color: #795da3;
  }
  .hljs-value {
    color: #183691;
  }
}
